target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/SystemOutTimeSquarLog.log
/SystemOutTimeSquarLog.log.2018-01-08.0.gz
/SystemOutTimeSquarLog.log.2018-01-09.0.gz
/bin/
